@model IEnumerable<Product_Display.Models.TreasuryBP>

<tbody>
    @foreach (var item in Model.OrderBy(t => t.TenorDays))
    {
        <tr>
            <td>@item.Maturity</td>
            <td>@item.SecurityId</td>
            <td>@item.TenorDays</td>
            <td>@item.DiscountPercentage</td>
            <td>
                <button class="btn btn-success btn-sm mx-1 editBtn" data-id="@item.SecurityId">
                    <i class="bi bi-pencil-square"></i> Edit
                </button>
                <button class="btn btn-danger btn-sm mx-1 deleteBtn" data-id="@item.SecurityId">
                    <i class="bi bi-trash-fill"></i> Delete
                </button>
            </td>
        </tr>
    }
</tbody>
